{
	# Global options
	# Optional: enable admin API only on loopback
	# admin localhost:2019
}

{$GITEA_FQDN} {
	# TLS mode: set TLS_MODE=internal for LAN certs, or set TLS_MODE to an email address to use ACME/Let’s Encrypt
	tls {$TLS_MODE}

	encode zstd gzip
	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer-when-downgrade"
	}

	reverse_proxy http://{$GITEA_UPSTREAM_HTTP_ADDR:-10.20.60.11}:3000
}
