apiVersion: v1
kind: Secret
metadata:
  name: porkbun-secret
  namespace: cert-manager
type: Opaque
stringData:
  PORKBUN_API_KEY: "{{ porkbun_api_key }}"
  PORKBUN_SECRET_API_KEY: "{{ porkbun_secret_api_key }}"
